@font-face {
    font-family: "Caviar Dreams";
    src: url("./fonts/CaviarDreams.ttf");
}

@font-face {
    font-family: "Unispace";
    src: url("./fonts/Unispace.otf");
}

@font-face {
    font-family: "Cocogoose";
    src: url("./fonts/Cocogoose.ttf");
}

@font-face {
    font-family: "Cheese Burger";
    src: url("./fonts/Cheese\ Burger.otf");
}

@font-face {
    font-family: "Geosans";
    src: url("./fonts/GeosansLight.ttf");
}

.table-head {
    font-family: "Cocogoose";
}

.time {
    font-family: "Caviar Dreams";
}

.hour {
    font-family: "Cheese Burger";
}

h1 {
    font-family: "Cocogoose";
}

.subject {
    font-family: "Cocogoose";
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.selected {
    animation: transitionIn 1s;
}

footer {
    font-family: "Geosans";
}